@{
    ViewData["Title"] = "Home Page";
}
<header class="header_section">
    <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <span style="font-size: 64px; color: goldenrod">
                    Tickets+
                </span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  mx-auto ">
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Eventos">Eventos</a>
                    </li>
                </ul>
                <div class="user_option">
                    @*<a href="" class="user_link">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </a>*@
                    <a class="order_online" asp-controller="Home" asp-action="Carrito">
                        Compra ahora
                    </a>
                </div>
            </div>
        </nav>
    </div>
    </header>
<!-- book section -->
<section class="offer_section layout_padding-bottom">
    <div class="offer_container">
        <div class="container ">
    <h1 style="font-size: 128px; align-items:center; color: gold;">
        
        Gracias por tu compra
        
    </h1>
            <p style="font-size:30px; color: white;align-items:center; align-content:center">
                Recibiras un correo en poco tiempo con el ticket
                </p>
        </div>
    </div>
    </section>
                
<!-- end book section -->

<!-- footer section -->
<!-- jQery -->
<script src="js/jquery-3.4.1.min.js"></script>
<!-- popper js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<!-- bootstrap js -->
<script src="js/bootstrap.js"></script>
<!-- owl slider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
</script>
<!-- isotope js -->
<script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
<!-- nice select -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
<!-- custom js -->
<script src="js/custom.js"></script>




